body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    /*padding: 20px; */
    /* text-align: center; */
    margin: 0;
}

h1 {
    margin-top: 30px;
}

nav > img {
    width: 40px;
    margin-right: 7px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > span {
    color: #61DAFB;
    font-size: 1.3rem;
    font-weight: 700;
}

header {
    height: 40px;
    background-color: #21222A;
    padding: 30px 25px;
}

main {
    padding: 60px 30px;
    background-image: url(/assets/react-logo-half.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}

main > h1 {
    margin: 0;
}

.main-fact-list {
    margin-top: 10px;
    max-width: 400px;
}

.main-fact-list > li {
    margin-block: 5px;
}

.main-fact-list >li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}